@using System.Web.Mvc.Expressions
@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Areas.Moderators.Controllers.Media
@using EntertainmentSystem.Web.ViewModels.Media
@model MediaCollectionCreateViewModel

<div class="form-group">
    @using (Html.BeginForm<ModeratorMediaCollectionController>(c => c.Create(), FormMethod.Post, new { area = GlobalConstants.ModeratorAreaName }, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <span>@Html.LabelFor(m => m.Name) </span>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger" })
    }
</div>

