@using EntertainmentSystem.Web.ViewModels.Media
@model IEnumerable<MediaContentHomeViewModel>

<div id="es-home-carousel-musics">

    @for (var i = 0; i < @Model.Count(); i++)
    {
        <div>
            <h3>@Model.ElementAt(i).Title</h3>
            <audio preload="auto" src="@Model.ElementAt(i).ContentUrl" controls></audio>
        </div>
    }
</div>
