@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Controllers.Upload
@using EntertainmentSystem.Web.ViewModels.Upload
@model PictureUploadViewModel

@using (Ajax.BeginForm<UploadPictureController>(c => c.Create(null), new { area = string.Empty }, null, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div>
            @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.PictureChooseUploadClass })
            @Html.TextBox("File", "", new { name = "File", type = "file", @class = HtmlConstants.PictureInputUploadClass + " display-none" })
        </div>
        <br />
        @Html.EditorFor(m => m.FileInfo)       
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
