@using EntertainmentSystem.Web.ViewModels.MediaContent
@model IEnumerable<MediaContentHomeViewModel>


@foreach (var item in @Model)
{
    <div>
        <h3>@item.Title</h3>
        <video src="@item.ContentUrl" controls ></video>
    </div>
}
