@using EntertainmentSystem.Web.ViewModels.MediaContent
@model IEnumerable<MediaContentHomeViewModel>

<div>
    @foreach (var item in @Model)
    {
        <h3>@item.Title</h3>
        <video src="@item.ContentUrl" controls width="800"></video>
    }    
</div>