@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing .. forgive us, as we are mere humans ..</h2>
</div>