
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="es-media-wrapper">
    @RenderBody()
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/appMediaJs")
}
