
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Administration</h1>

@RenderBody()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function sendAntiForgery() {
            return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
        }
        $.validator.setDefaults({
            ignore: ""
        });
    </script>    
}
