
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="es-forum">
    @RenderBody()   
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function postVote(self, voteMethod) {
            var voteValue = self.attr("data-vote-value");
            var authorId = self.attr("data-authorId");
            var forumModelId = self.attr("data-forum-model-id");

            var newModel = {
                Value: voteValue,
                AuthorId: authorId,
                ModelId: forumModelId
            };

            $.post("Votes/" + voteMethod, newModel, function (data) {
                var newVoteValue = data.VotesValue;
                var element = $('[data-id="' + forumModelId + '"] .es-forum-votes');
                element.html(newVoteValue);
            });
        };

        $(".forum-post-vote-detail-up").click(function () {
            var self = $(this);
            postVote(self, "PostVote");
        });

        $(".forum-post-vote-detail-down").click(function () {
            var self = $(this);
            postVote(self, "PostVote");
        });

        $(".forum-comment-vote-detail-up").click(function () {
            var self = $(this);
            postVote(self, "CommentVote");
        });

        $(".forum-comment-vote-detail-down").click(function () {
            var self = $(this);
            postVote(self, "CommentVote");
        });
    </script>
}