
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="es-forum-wrapper">
    @RenderBody()
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryUnobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/appForumJs")
}
