
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="es-forum-wrapper">
    @RenderBody()
</div>

@section Scripts {    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/bundles/appForumJs")
}
