@using EntertainmentSystem.Web.Areas.Administration.Models
@model IQueryable<LanguageViewModel>

@{
    ViewBag.Title = "Languages";
}
<h2>@ViewBag.Title</h2>

<div>
    @(Html.Kendo().Grid<LanguageViewModel>()
            .Name("LanguagesGrid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id);
                columns.Bound(c => c.Name);
                columns.Bound(c => c.CreatedOn).Format("{0:yyyy-MM-dd HH:mm}");
                columns.Bound(c => c.ModifiedOn).Format("{0:yyyy-MM-dd HH:mm}");
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
            })
            .ToolBar(toolbar =>
            {
                toolbar.Create();
            })
            .ColumnMenu()
            .Editable(editable => editable.Mode(GridEditMode.PopUp))
            .Scrollable()
            .Groupable()
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()                
                .Events(events => events.Error("error_handler"))
                .PageSize(10)
                .Model(model => model.Id(m => m.Id))
                .Read(read => read.Action("Languages_Read", "Languages"))
                .Create(update => update.Action("Create", "Languages"))
                .Update(update => update.Action("Update", "Languages"))
                .Destroy(update => update.Action("Destroy", "Languages"))
            )
    )
</div>

@section scripts{
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}

