
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="es-administration-wrapper">
    @RenderBody()
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function sendAntiForgery() {
            return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
        }
        $.validator.setDefaults({
            ignore: ""
        });
    </script>
}
