
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="es-administration-wrapper">
    <h1 class="text-center">Moderators</h1>

    @RenderBody()
</div>

@section Scripts {
    @Scripts.Render("~/bundlesJs/jqueryval")
    <script type="text/javascript">
        function sendAntiForgery() {
            return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
        }
        $.validator.setDefaults({
            ignore: ""
        });
    </script>
}
