@using System.Web.Mvc.Expressions
@using EntertainmentSystem.Web.Areas.Administration.Controllers.Media
@using EntertainmentSystem.Web.ViewModels.Media
@model MediaCategoryViewModel

<div>
    @using (Html.BeginForm<AdminMediaCategoryController>(c => c.Create(), FormMethod.Post, null, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()


        @Html.EditorFor(m => Model)
        <button type="submit" class="btn btn-success" >Create</button>
    }
</div>