@using EntertainmentSystem.Web.Areas.Administration.ViewModels
@model AdminMediaCategoryViewModel

<div>
    @using (Html.BeginForm("Create", "AdminMediaCategory", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">           
            @Html.EditorFor(m => Model)
            <input type="submit" class="btn btn-success" value="Create" />
        </div>
    }
</div>