@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Web.Areas.Administration.ViewModels
@model AdminMediaCategoryViewModel

@{
    const string ControllerName = "AdminMediaCategory";
}

<h2 class="text-center">Media Categories</h2>
<br />

@Html.Partial("_Create")

@(Html.FullFeaturedGrid<AdminMediaCategoryViewModel>(
    ControllerName,
    m => m.Id,
    cols =>
    {
        cols.Bound(m => m.Id).Hidden();
        cols.Bound(m => m.Name);
        cols.Bound(m => m.CreatedOn).Format("{0:yyyy-MM-dd HH:mm:ss}");
        cols.Bound(m => m.ModifiedOn).Format("{0:yyyy-MM-dd HH:mm:ss}");
        cols.Bound(m => m.IsDeleted);
        cols.Bound(m => m.DeletedOn).Format("{0:yyyy-MM-dd HH:mm:ss}");
        cols.Command(command => { command.Edit(); command.Destroy(); }).Title("Edit / Delete");
    }
))
