@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Web.ViewModels.Media

@{
    const string ControllerName = "AdminMediaContent";    
}

<h2 class="text-center">Media Contents</h2>
<br />
@Html.Partial("_UploadMediaContent")
@Html.Partial("_CreateMediaContent")

@(Html.FullFeaturedAdminGrid<MediaContentViewModel>(
    ControllerName,
    m => m.Id,
    cols =>
    {
        cols.Bound(m => m.Id).Hidden();
        cols.Bound(m => m.ContentType).Width(70);
        cols.Bound(m => m.ContentUrl).ClientTemplate(
            @"# if (ContentType === 'Picture') { # 
            <img src='#:ContentUrl#' alt='Avatar' class='img-responsive' /> 
            # } #
            # if (ContentType === 'Video') { # 
            <video class='video img-responsive' src='#:ContentUrl#' alt='Avatar' controls='controls'></video>
            # } #
            # if (ContentType === 'Music') { # 
            <audio class='img-responsive' src='#:ContentUrl#' controls='controls'></audio>
            # } #").Width(250);
        cols.Bound(m => m.Title);
        cols.Bound(m => m.Description);
        cols.Bound(m => m.MediaCategory);
        cols.Bound(m => m.MediaCollection);
        cols.Bound(m => m.CreatedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.ModifiedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.IsDeleted);
        cols.Bound(m => m.DeletedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Command(command => command.Edit()).Title("Edit").Width(90);
        cols.Command(command => command.Destroy()).Title("Delete Permanent").Width(100);
    }
))

