
@using InteractiveLearningSystem.Web.Areas.Administration.Models
@model IQueryable<BulgarianWordViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Words</h2>
<div>
    @(Html.Kendo().Grid<BulgarianWordViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Title("Words").Width(150);
            columns.Bound(c => c.Language).ClientTemplate("#=Language.Name#").Title("Language").Width(150);
            columns.Command(command => { command.Destroy(); }).Width(150);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .PageSize(20)
            .Model(model =>
            {
                model.Id(m => m.Id);
                model.Field(m => m.Id).Editable(false);
                model.Field(m => m.Language.Name).DefaultValue(
                ViewData["defaultLanguage"] as LanguageViewModel);
            })
            .Read(read => read.Action("BulgarianWords_Read", "BulgarianWords"))
            .Create(update => update.Action("Create", "Home"))
            .Update(update => update.Action("Update", "Home"))
            .Destroy(update => update.Action("Delete", "Home"))
        )
    )
</div>

@section scripts{
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}