@model InteractiveLearningSystem.Web.Areas.Administration.Models.IndexViewModel

@{
    ViewBag.Title = "Words";
}

<table class="table table-striped table-bordered">
    <tr>
        <td>
            <button class="btn btn-default">+Add Words</button>
        </td>
    </tr>
    <tr>
        <th>Words</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var word in Model.Words)
    {
        <tr>
            <td>
                <a href="@word.Url">@word.Name</a>
            </td>            
            <td>
                <button class="btn btn-default">Edit</button>
            </td>
            <td>
                <button class="btn btn-default">Delete</button>
            </td>
        </tr>
    }
</table>