@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Web.ViewModels.User
@model UserViewModel

<h2 class="text-center">Users</h2>
<br />

@(Html.FullFeaturedGrid<UserViewModel>(
    HtmlConstants.ModeratorUsersControllerName,
    m => m.Id,
    cols =>
    {
        cols.Bound(m => m.Id).Hidden();
        cols.Bound(m => m.ImageUrl).ClientTemplate(
            @"<img src='#:ImageUrl#' alt='Avatar' class='img-responsive' />");
        cols.Bound(m => m.FirstName);
        cols.Bound(m => m.LastName);
        cols.Bound(m => m.UserName);
        cols.Bound(m => m.Email);
        cols.Bound(m => m.CreatedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.ModifiedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.IsDeleted);
        cols.Bound(m => m.DeletedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Command(command => { command.Edit(); command.Destroy(); }).Title("Edit / Delete");
    }
))
