@using EntertainmentSystem.Web.ViewModels.Search
@model SearchViewModel

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(m => m.SearchText, new { @class = "control-label" })
    @Html.EditorFor(m => m.SearchText)
    @Html.ValidationMessageFor(m => m.SearchText)
</div>
