@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model CommentViewModel

<div id="answers-203370">
    <div class="row forum-post-voting-parent" id="forum-post-203372">
        <div class="col-xs-12 col-sm-2 forum-vote">
            <div class="well forum-vote-well forum-vote-possible text-center" data-answer-id="203372">
                <div class="forum-vote-detail forum-vote-margin">
                    <strong id="vote-count-203372">@Model.Votes</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="es-forum-post-content">
                <div class="row es-forum-post-row-margin-zero">
                    <p>@Model.Content</p>
                </div>
                <hr class="es-forum-hr-in"/>
                <div class="row es-forum-post-row-margin-zero">
                    <p class="es-forum-post-info-color">
                        <span>posted</span>
                        <time class="es-forum-post-info-data-color">@Model.CreatedOn</time>
                        from <a href="/Users/@Model.Author.Id" class="es-forum-post-info-data-color">@Model.Author.UserName</a>
                    </p>
                </div>
            </div>
            <hr class="es-forum-hr-in"/>            
        </div>
    </div>
</div>
<hr />