#es-home {
    .row {
        margin-bottom: 20px;
    }

    #es-home-carousel-musics {
    }

    #es-home-carousel-pictures {

        .carousel-inner {
            .item {
                img {
                    display: inline-flex;
                    height: 20em;
                }
            }
        }
    }

    #es-home-carousel-videos {

        .carousel-control{
            margin-bottom: 1.8em !important;
        }

        .carousel-inner {
            .item {
                .video {
                    display: inline-flex;
                    height: 30em;
                }
            }
        }
    }
}
