
#es-forum-home {
    h3 {
        margin-top: 3px !important;
        margin-bottom: 3px !important;

        a {
            color: #454444;
        }
    }

    .es-forum-post-info-color {
            color: #00b718;

            .es-forum-post-info-data-color {
                color: #a72af3;
            }
        }

    .forum-well {
        font-weight: bold;
        padding: 0 !important;
        margin: 0px !important;
        margin-right: 10px !important;

        .forum-well-inside {
            margin: 0;
        }
    }

    .well {
        margin-bottom: 5px !important;
        margin-right: 10px;
    }

    .es-forum-home-post-content {
        .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
}
