
.es-item-player {
    .es-picture-show {
        position: relative;
        display: inline-block;        
        width: auto;
    }

    .es-player-container {
        .es-item-content {
            width: auto;
        }
    }
}
