
.es-forum-comment-add{
    padding-left: 15px;
    padding-right: 15px;

    .es-forum-comment-add-head{
        margin-bottom: 10px;
    }

    .es-forum-comment-add-footer{
        margin-top: 10px;
    }
}