body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fcf6ea;
  background-size: cover;
  font-family: "Gotham Rounded SSm A", "RobotoDraft", "Roboto", 'Helvetica Neue', "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  /* Set padding to keep content from hitting the edges */
  /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/ }
  body .body-content {
    padding-left: 15px;
    padding-right: 15px; }
  body .dl-horizontal dt {
    white-space: normal; }
  body a {
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #919496;
    text-decoration: none; }
  body .es-upload-btn {
    display: none; }
  body .es-edit-form {
    width: 85%;
    padding-left: 15px;
    padding-right: 15px; }
  body #es-loading {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    outline: 0; }
    body #es-loading img {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 45%;
      top: 40%;
      width: 200px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      outline: 0; }
  body #es-home .row {
    margin-bottom: 20px; }
  body #es-home #es-home-carousel-pictures .carousel-inner .item img {
    display: inline-flex;
    height: 20em; }
  body #es-home #es-home-carousel-videos .carousel-control {
    margin-bottom: 1.8em !important; }
  body #es-home #es-home-carousel-videos .carousel-inner .item .video {
    display: inline-flex;
    height: 30em; }
  @media (max-width: 767px) {
    body .es-card .es-card-text {
      padding: 2.5vw 2vw 2vw 2.5vw !important; }
      body .es-card .es-card-text .es-media-category {
        font-size: 2.3vw !important;
        line-height: 2vw !important;
        height: 2vw !important; }
      body .es-card .es-card-text .es-media-collection {
        font-size: 2.3vw !important;
        line-height: 2vw !important;
        height: 2vw !important; }
      body .es-card .es-card-text .es-media-title {
        font-size: 4vw !important;
        line-height: 5vw !important;
        height: 10vw !important; }
      body .es-card .es-card-text .es-description-container {
        font-size: 2.5vw !important;
        line-height: 4vw !important;
        height: 12vw !important; } }
  body .es-card {
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px; }
    body .es-card .content {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #fff;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; }
    body .es-card a {
      display: block; }
      body .es-card a:hover {
        text-decoration: none; }
    body .es-card .es-card-image {
      position: relative;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 100%; }
      body .es-card .es-card-image:after {
        padding-top: 150%;
        display: block;
        content: ''; }
    body .es-card .es-card-text {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      color: #1e3264;
      padding: 1.5vw 1vw 1vw 1.5vw; }
      body .es-card .es-card-text .es-media-category {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5vw;
        line-height: 1.7vw;
        height: 3.4vw;
        overflow: visible; }
      body .es-card .es-card-text .es-media-collection {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5vw;
        line-height: 1.7vw;
        height: 3.4vw;
        overflow: visible; }
      body .es-card .es-card-text .es-media-title {
        font-weight: 400;
        width: 100%;
        color: #2e2f33;
        text-overflow: ellipsis;
        margin-top: 0.5vw;
        font-size: 2.5vw;
        line-height: 3.2vw;
        height: 6.4vw;
        overflow: visible; }
      body .es-card .es-card-text .es-description-container {
        position: relative;
        color: #a5a5a5;
        font-weight: 500;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 400;
        letter-spacing: -0.1vw;
        margin-top: 1.5vw;
        font-size: 1.75vw;
        line-height: 2.5vw;
        height: 7.5vw;
        overflow: hidden; }
        body .es-card .es-card-text .es-description-container .es-media-description {
          margin: 0;
          position: absolute;
          top: 0; }
    body .es-card .es-highlighter {
      display: block;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.0;
      -webkit-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
      z-index: 5;
      border-bottom: 2px solid #2e2f33; }

