body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fcf6ea;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-weight: 300; }
  body .dl-horizontal dt {
    white-space: normal; }
  body #es-navbar {
    z-index: 100 !important; }
  body .container {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  body a {
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #919496;
    text-decoration: none; }
  body .es-clickable {
    cursor: pointer; }
  body .noscroll {
    position: fixed !important;
    overflow: hidden !important; }
  body .es-flex {
    flex: 1; }
  body .es-flex-row {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  body .es-flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  body .es-flex-wrap {
    webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body .es-align-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  body .es-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  body .es-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  body .es-upload-btn {
    display: none; }
  body .es-edit-form {
    width: 85%;
    padding-left: 15px;
    padding-right: 15px; }
  body #es-loading {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    outline: 0; }
    body #es-loading img {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 45%;
      top: 40%;
      width: 200px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      outline: 0; }
  body #es-home .row {
    margin-bottom: 20px; }
  body #es-home #es-home-carousel-pictures .carousel-inner .item img {
    display: inline-flex;
    height: 20em; }
  body #es-home #es-home-carousel-videos .carousel-control {
    margin-bottom: 1.8em !important; }
  body #es-home #es-home-carousel-videos .carousel-inner .item .video {
    display: inline-flex;
    height: 30em; }
  @media (max-width: 767px) {
    body .es-card .es-card-text {
      padding: 2.5vw 2vw 2vw 2.5vw !important; }
      body .es-card .es-card-text .es-media-category {
        font-size: 2.3vw !important;
        line-height: 2vw !important;
        height: 2vw !important; }
      body .es-card .es-card-text .es-media-collection {
        font-size: 2.3vw !important;
        line-height: 2vw !important;
        height: 2vw !important; }
      body .es-card .es-card-text .es-media-title {
        font-size: 4vw !important;
        line-height: 5vw !important;
        height: 10vw !important; }
      body .es-card .es-card-text .es-description-container {
        font-size: 2.5vw !important;
        line-height: 4vw !important;
        height: 12vw !important; } }
  body .es-card {
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px; }
    body .es-card .content {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #fff;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; }
    body .es-card a {
      display: block; }
      body .es-card a:hover {
        text-decoration: none; }
    body .es-card .es-card-image {
      position: relative;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 100%; }
      body .es-card .es-card-image:after {
        padding-top: 100%;
        display: block;
        content: ''; }
    body .es-card .es-card-text {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      color: #1e3264;
      padding: 1.5vw 1vw 1vw 1.5vw; }
      body .es-card .es-card-text .es-media-category {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.4vw;
        line-height: 1.5vw;
        height: 1.7vw;
        overflow: hidden; }
      body .es-card .es-card-text .es-media-collection {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.4vw;
        line-height: 1.5vw;
        height: 1.7vw;
        overflow: hidden; }
      body .es-card .es-card-text .es-media-title {
        font-weight: 400;
        width: 100%;
        color: #2e2f33;
        text-overflow: ellipsis;
        margin-top: 0.5vw;
        font-size: 2.3vw;
        line-height: 2.4vw;
        height: 4.9vw;
        overflow: visible; }
      body .es-card .es-card-text .es-description-container {
        position: relative;
        color: #a5a5a5;
        font-weight: 500;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 400;
        margin-top: 1.5vw;
        font-size: 1.3vw;
        line-height: 1.4vw;
        height: 4.3vw;
        overflow: hidden; }
        body .es-card .es-card-text .es-description-container .es-media-description {
          margin: 0;
          position: absolute;
          top: 0; }
    body .es-card .es-highlighter {
      display: block;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.0;
      -webkit-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
      z-index: 5;
      border-bottom: 2px solid #2e2f33; }
  @media (max-width: 767px) {
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-title {
      font-size: 28px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-category {
      font-size: 16px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-collection {
      font-size: 16px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-date {
      font-size: 14px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-description-container .es-media-details-description {
      font-size: 16px !important; } }
  @media (min-width: 767px) and (max-width: 991px) {
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-title {
      font-size: 30px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-category {
      font-size: 18px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-collection {
      font-size: 18px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-date {
      font-size: 16px !important; }
    body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-description-container .es-media-details-description {
      font-size: 18px !important; } }
  body .es-media-details {
    color: #fff;
    background-color: #1e2124;
    width: 100%; }
    body .es-media-details .transition {
      transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1); }
    body .es-media-details.es-media-details-show {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 100vh; }
      body .es-media-details.es-media-details-show .es-media-details-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        min-height: 200px;
        z-index: 0;
        background: url() center center no-repeat;
        background-size: cover;
        opacity: .15; }
      body .es-media-details.es-media-details-show .es-media-details-play-container {
        position: relative;
        height: 45vh;
        min-height: 175px;
        padding-top: 60px;
        cursor: pointer;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .es-media-details.es-media-details-show .es-media-details-play-container .play {
          padding: 120px; }
      body .es-media-details.es-media-details-show a {
        text-decoration: none !important;
        color: #fff; }
        body .es-media-details.es-media-details-show a .es-media-details-back {
          position: absolute;
          top: 10px;
          left: 10px;
          cursor: pointer;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          body .es-media-details.es-media-details-show a .es-media-details-back .fa {
            padding: 20px; }
      body .es-media-details.es-media-details-show .es-media-details-content {
        position: relative; }
        body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container {
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 75%;
          -moz-box-flex: 1;
          -ms-flex: 1 1 75%;
          flex: 1 1 75%; }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-info-padding {
            padding: 0 2% 4%; }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-title {
            font-size: 32px;
            letter-spacing: -.5px;
            font-weight: 400;
            margin: 0; }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-category {
            font-size: 20px;
            color: #ff962f;
            text-transform: uppercase;
            letter-spacing: -.5px;
            font-weight: 500;
            margin: 0; }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-collection {
            font-size: 20px;
            color: #8a44fe;
            text-transform: uppercase;
            letter-spacing: -.5px;
            font-weight: 500;
            margin: 0; }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-date {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.65); }
          body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-description-container {
            max-height: 15vw;
            position: relative;
            overflow: hidden;
            max-height: 180px;
            margin: 15px 0; }
            body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-description-container .es-media-details-description {
              font-size: 20px;
              color: rgba(255, 255, 255, 0.75);
              font-weight: 100; }
            body .es-media-details.es-media-details-show .es-media-details-content .es-media-details-info-container .es-media-details-description-container .es-media-details-more {
              position: absolute;
              bottom: 0;
              height: 75px;
              width: 100%;
              font-size: 30px;
              visibility: hidden;
              display: none;
              background: -webkit-linear-gradient(0deg, #1e2124, transparent 100%);
              background: -moz-linear-gradient(0deg, #1e2124, transparent 100%);
              background: -ms-linear-gradient(0deg, #1e2124, transparent 100%);
              background: -o-linear-gradient(0deg, #1e2124, transparent 100%);
              background: linear-gradient(0deg, #1e2124, transparent 100%); }
  body .es-media-details.es-media-details-show .es-media-details-bg-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    background: -webkit-linear-gradient(0deg, #1e2124, transparent 40%);
    background: -moz-linear-gradient(0deg, #1e2124, transparent 40%);
    background: -ms-linear-gradient(0deg, #1e2124, transparent 40%);
    background: -o-linear-gradient(0deg, #1e2124, transparent 40%);
    background: linear-gradient(0deg, #1e2124, transparent 40%); }
  body .es-item-player {
    color: #fff;
    background-color: #1e2124;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #000;
    transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    -moz-transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .es-item-player.es-item-active {
      z-index: 110;
      opacity: 1;
      visibility: visible; }
    body .es-item-player .es-player-container {
      width: 100%;
      height: 100%; }
      body .es-item-player .es-player-container .es-item-content {
        width: 100%;
        height: 100%;
        transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
        display: inline-block;
        vertical-align: baseline; }
      body .es-item-player .es-player-container .es-item-paused-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #000;
        z-index: -1;
        transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1); }
        body .es-item-player .es-player-container .es-item-paused-overlay.es-paused {
          z-index: 0;
          opacity: .5; }
      body .es-item-player .es-player-container .es-giant-resume-icon {
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        font-size: 72px;
        z-index: -1;
        display: -webkit-box;
        display: -ms-flexbox;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .es-item-player .es-player-container .es-giant-resume-icon .fa {
          padding: 120px;
          cursor: pointer;
          transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1); }
        body .es-item-player .es-player-container .es-giant-resume-icon.es-item-active {
          visibility: visible;
          opacity: 1;
          z-index: 1; }
      body .es-item-player .es-player-container .es-player-controls {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        left: 0;
        width: 100%;
        height: 60px;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
        -webkit-transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
        -moz-transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
        -o-transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1);
        transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1); }
        body .es-item-player .es-player-container .es-player-controls.es-top-bar {
          top: -60px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-player-volume-control {
            min-width: 200px;
            width: 100%;
            max-width: 300px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-player-volume-control .es-volume {
              width: 60px;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              cursor: pointer; }
              body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-player-volume-control .es-volume .fa {
                width: 60px;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center; }
            body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-player-volume-control .es-volume-bar-container {
              position: relative;
              width: 100%;
              display: flex;
              margin-bottom: 0;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              display: -webkit-box;
              display: -ms-flexbox;
              cursor: pointer;
              border-radius: 3px;
              border: 1px solid #fff;
              background-color: transparent;
              height: 6px;
              -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
              -moz-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
              -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
              transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1); }
              body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-player-volume-control .es-volume-bar-container .es-volume-bar {
                float: none !important;
                height: 5px;
                border-radius: 3px;
                background-color: #fff; }
          body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-close-icon {
            width: 60px;
            height: 60px;
            cursor: pointer;
            color: #fff;
            font-size: 30px;
            -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            -moz-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: absolute;
            right: 0 !important; }
            body .es-item-player .es-player-container .es-player-controls.es-top-bar .es-close-icon span {
              position: relative;
              top: -2px; }
        body .es-item-player .es-player-container .es-player-controls.es-controls-top-active {
          top: 0;
          z-index: 20;
          opacity: 1;
          visibility: visible; }
        body .es-item-player .es-player-container .es-player-controls.es-bottom-bar {
          bottom: -60px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          body .es-item-player .es-player-container .es-player-controls.es-bottom-bar .es-play-pause-icon {
            width: 60px;
            height: 60px;
            cursor: pointer;
            color: #fff;
            font-size: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            body .es-item-player .es-player-container .es-player-controls.es-bottom-bar .es-play-pause-icon em {
              position: relative;
              bottom: -2px; }
          body .es-item-player .es-player-container .es-player-controls.es-bottom-bar .es-progress-bar-container {
            position: relative;
            width: 100%;
            margin-bottom: 0;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 10px;
            -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            -moz-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1); }
            body .es-item-player .es-player-container .es-player-controls.es-bottom-bar .es-progress-bar-container .es-progress-bar {
              color: black; }
          body .es-item-player .es-player-container .es-player-controls.es-bottom-bar .time-remaining {
            padding-left: 15px;
            min-width: 100px;
            font-size: 20px; }
        body .es-item-player .es-player-container .es-player-controls.es-controls-bottom-active {
          bottom: 0;
          z-index: 20;
          opacity: 1;
          visibility: visible; }
  body .es-item-player .es-player-container .es-item-content.es-music-show {
    width: auto;
    height: auto; }
  body .es-item-player .es-picture-show {
    position: relative;
    display: inline-block;
    width: auto; }
  body .es-item-player .es-player-container .es-item-content {
    width: auto; }

