
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fcf6ea;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 300;

    .dl-horizontal dt {
        white-space: normal;
    }

    #es-navbar {
        z-index: 100 !important;
    }

    #RememberMe {
        margin-left: 0 !important;
    }        

    a {
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        color: #919496;
        text-decoration: none;
    }

    .es-administration-wrapper {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .es-clickable {
        cursor: pointer;
    }

    .noscroll {
        position: fixed !important;
        overflow: hidden !important;
    }

    .es-flex {
        flex: 1;
    }

    .es-flex-row {
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .es-flex-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .es-flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .es-align-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .es-align-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .es-justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .es-upload-btn {
        display: none;
    }

    .es-edit-form {
        width: 85%;
        padding-left: 15px;
        padding-right: 15px;
    }        

    @import "site-loading";

    @import "site-home";

    @import "site-forum";    

    @import "site-media-home";

    @import "site-media-details";

    @import "site-media-picture-details";

    @import "site-media-video-details";

    @import "site-media-item-play";

    @import "site-media-music-play";

    @import "site-media-picture-play";

    @import "site-user-profile";
}
