@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Areas.Media.Controllers
@using System.Web.Mvc.Expressions
@using EntertainmentSystem.Web.Areas.Media.ViewModels
@model IEnumerable<MediaBaseViewModel>

@{
    ViewBag.Title = HtmlConstants.MediaMusicControllerName;
}

<section id="es-misic-home">
    <h2 class="text-center">@ViewBag.Title</h2>
    @Html.Partial("_SearchForm")
    <div class="row">
        @if (Model != null)
        {
            if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    @(Html.Action<MediaPartialController>(c => c.GetFromViewModel(item, "_MusicPartial", GlobalConstants.CacheMediaHomeDuration)))
                }
            }
        }
    </div>
</section>
