@using EntertainmentSystem.Web.Controllers

@{
    ViewBag.Title = "Media";
}

<div id="es-home">
    <h1>
        @ViewBag.Title
    </h1>

    <div class="row">
        <section class="col-md-4">
            @(Html.Action<HomeController>(c => c.GetMusic()))
        </section>
        <section class="col-md-8">
            @(Html.Action<HomeController>(c => c.GetPictures()))
        </section>
    </div>
    <div class="row">
        <section class="col-xs-12">
            @(Html.Action<HomeController>(c => c.GetVideos()))
        </section>
    </div>
</div>
