@using EntertainmentSystem.Web.ViewModels.Home
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>
    @ViewBag.Title
</h1>

<div class="row">
    <section id="home-sounds" class="col-sm-4">
        @Html.Partial("_SoundsHomePartial", Model.Sounds)
    </section>

    <section id="home-pictures" class="col-sm-8">
        @Html.Partial("_PicturesHomePartial", Model.Pictures)
    </section>
</div>

<div class="row">
    <section id="home-videos" class="col-sm-12">
        @Html.Partial("_VideosHomePartial", Model.Videos)
    </section>
</div>