@using EntertainmentSystem.Web.ViewModels.Home
@model HomeViewModel

@{
    ViewBag.Title = "Media";
}

<section id="es-home">
    <h1>
        @ViewBag.Title
    </h1>

    <div class="row">
        <section class="col-md-4">
            @Html.Partial("_MusicsHomePartial", Model.Musics)
        </section>

        <section class="col-md-8">
            @Html.Partial("_PicturesHomePartial", Model.Pictures)
        </section>
    </div>
    <div class="row">
        <section class="col-xs-12">
            @Html.Partial("_VideosHomePartial", Model.Videos)
        </section>
    </div>
</section>
