@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Web.Areas.Administration.ViewModels
@model AdminUserViewModel

<h2 class="text-center">Users</h2>
<br />

@(Html.FullFeaturedAdminGrid<AdminUserViewModel>(
    HtmlConstants.AdminUsersControllerName,
    m => m.Id,
    cols =>
    {
        cols.Bound(m => m.Id).Hidden();
        cols.Bound(m => m.AvatarImageUrl).ClientTemplate(
            @"<img src='#:AvatarImageUrl#' alt='Avatar' class='img-responsive' />");
        cols.Bound(m => m.FirstName);
        cols.Bound(m => m.LastName);
        cols.Bound(m => m.UserName);
        cols.Bound(m => m.Email);
        cols.Bound(m => m.CreatedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.ModifiedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Bound(m => m.IsDeleted);
        cols.Bound(m => m.DeletedOn).Format(HtmlConstants.KendoDateFormat);
        cols.Command(command => command.Edit()).Title("Edit");
        cols.Command(command => command.Destroy()).Title("Delete Permanent");
    }
))
