@using System.Web.Mvc.Expressions
@using EntertainmentSystem.Web.Areas.Moderators.Controllers.Media
@using EntertainmentSystem.Web.ViewModels.Media
@model MediaCategoryViewModel

<div>
    @using (Html.BeginForm<ModeratorMediaCategoryController>(c => c.Create(), FormMethod.Post, null, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.EditorFor(m => Model)
            <input type="submit" class="btn btn-success" value="Create" />
        </div>
    }
</div>
