@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model IEnumerable<PostHomeViewModel>


<section id="es-forum-home">
    <hr />
    @foreach (var post in Model)
    {
        @Html.Partial("_PostHomePartial", post)
    }
</section>