@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model IEnumerable<PostHomeViewModel>


<section id="es-forum-home">
    <h1 class="text-left">Forum</h1>
    <hr />
    <div class="container">
        @foreach (var post in Model)
        {
            @Html.Partial("_PostHomePartial", post)
        }
    </div>
</section>